<div class="wrapper">

  <div class="banner-index">
    <h1>Welcome to you lists!</h1>
  </div>

  <div class="list-index-content">
  </div>

</div>




<% @lists.each do |list| %>
  <%= link_to list.name, list_path(list) %>
<% end %>

<%= link_to "Create a new list", new_list_path %>

